<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section sec:authorize="hasRole('ROLE_ADMIN')" class="flex items-center flex-col mb-20">
    <div class="flex flex-col mt-40">
        <label class="text-base mb-10">
            User Name : <input class="ml-10 text-xl" placeholder="User" th:field="${user.userName}" disabled>
        </label>

        <form th:action="@{/settings/admin/update-email}" th:object="${user}" method="post">
            <label>
                <input type="hidden" th:field="*{id}">
                Email : <input type="text" class="text-base mx-20 w-64" placeholder="Email" th:field="*{email}">
            </label>
            <input type="submit" value="Update Email"
                   class="bg-green-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
        <p class="pt-1 text-red-700 mb-10" th:text="${emailError}"></p>

    </div>

    <div class="flex items-center mt-20">
        <form th:action="@{/settings/admin/make-admin/{user}(user=${user.userName})}" th:if="${user.getRole().name == 'ROLE_USER'}" class="mt-6">
            <input type="submit" value="Make Admin"
                   class="mx-3 bg-red-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
        <form th:action="@{/settings/admin/remove-admin/{user}(user=${user.userName})}" class="mt-6" th:if="${user.getRole().name == 'ROLE_ADMIN'}">
            <input type="submit" value="Remove Admin"
                   class="mx-3 bg-red-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
        <form th:action="@{/settings/admin/delete-user/{user}(user=${user.userName})}" class="mt-6">
            <input type="submit" value="Delete User"
                   class="mx-3 bg-red-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>