<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mb-20">
    <div class="bg-black w-full">
        <div class="px-64 py-10 text-white">
            <div class="flex flex-col items-center">
                <img th:src="@{/images/happy-white.png}">
                <a th:href="@{/author(id=${user.id})}"
                   class="font-bold text-2xl py-3 outline-none hover:underline" th:text="${user.userName}"></a>
            </div>
        </div>
    </div>
    <div class="flex flex-col pr-10 py-10 items-center">
        <div class="w-2/4">
            <div class="font-bold text-xl p-2">
                <a th:href="@{/author(id=${user.id})}" class="outline-none opacity-50 hover:opacity-100 pr-10">Published
                    Blog</a>
                <a th:if="${#authentication.name == user.userName or#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                   th:href="@{/blog/author-saved-blog(id=${user.id})}"
                   class="outline-none opacity-50 hover:opacity-100">Saved Blog</a>
            </div>
            <div class="border-t-2 mb-5 border-gray-500"></div>
            <div class="flex flex-col mb-5" th:each="list : ${list}">
                <div class="flex justify-between items-center">
                    <div class="flex">
                        <a href="#" class="outline-none"><img th:src="@{/images/happy.png}"></a>
                        <div class="flex flex-col p-2">
                            <a th:href="@{/author(id=${list.authorId})}"
                               class="font-bold text-xl outline-none hover:underline"
                               th:text="${user.userName}"></a>
                            <p class="text-gray-500 text-sm" th:text="${list.publishedAt}"></p>
                        </div>
                    </div>
                </div>
                <div class="font-bold">
                    <a th:href="@{/show-blog(id=${list.id})}" class="outline-none ">
                        <p class="text-3xl pt-2" th:text="${list.blogTitle}"></p>
                        <p class="text-xl text-gray-500" th:text="${list.blogDescription}"></p>
                    </a>
                    <div class="flex justify-between items-center mt-10">
                        <a th:href="@{/show-blog(id=${list.id})}" class="outline-none text-gray-500 text-sm">Read
                            more...</a>
                        <div class="flex">
                            <a th:href="@{/filter/tag/{tag}(tag=${tag.name})}"
                               class="outline-none border-black border-2 text-sm py-1 px-4 rounded-full mr-2 opacity-50 hover:opacity-100"
                               th:each="tag : ${list.getTagSet()}" th:text="${'#'+tag.name}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>