<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mx-60 mb-20 py-20">
    <form class="flex flex-col items-center text-gray-700 mt-32" th:object="${form}" th:action="@{/send-link}" method="post">
        <div class="flex flex-col w-1/4 mb-4">
            <input type="text" placeholder="E mail" th:field="*{email}"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md focus:border-black">
            <p class="text-red-600" th:text="${error}"></p>
        </div>
        <div class="flex justify-between mt-10">
            <input type="submit" value="Send Link"
                   class=" rounded-md py-3 px-6 bg-black text-white opacity-75 hover:opacity-100 text-xl cursor-pointer outline-none">
        </div>
    </form>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>