<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<footer class="fixed bottom-0 w-full" th:fragment="footer">
    <div class="flex justify-between items-center px-64 py-2 bg-black">
        <div>
            <a th:href="@{/}" class="outline-none"><img th:src="@{/images/blogger-footer.png}"></a>
        </div>
        <div>
            <a href="#" class="outline-none"><img th:src="@{/images/github.png}"></a>
        </div>
    </div>
</footer>

</body>
</html>