<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header class="flex justify-between items-center px-64 py-5" th:fragment="header">
    <div>
        <a th:href="@{/}" class="outline-none"><img th:src="@{/images/blogger.png}"></a>
    </div>
    <div class="flex font-bold">
        <a th:href="@{/}" class="opacity-50 mr-5 hover:opacity-100 outline-none">Home</a>
        <a th:href="@{/blog/new-blog}" class="flex opacity-50 mr-5 hover:opacity-100 outline-none"><img th:src="@{/images/writing.png}" class="pr-1">New Post</a>
        <a th:href="@{/settings}" class="flex  outline-none mr-5 opacity-50 hover:opacity-100 "> <img th:src="@{/images/setting.png}" class="pr-1">Settings</a>
        <div sec:authorize="isAnonymous()" class="flex" >
            <a th:href="@{/sign-up}" class="opacity-50 hover:opacity-100 outline-none mr-5">Sign Up</a>
            <a th:href="@{/sign-in}" class="opacity-50 hover:opacity-100 outline-none">Sign In</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="flex" >
            <a th:href="@{/author}" class="opacity-50 hover:opacity-100 outline-none mr-5"
            th:text="${#authentication.getName()}"></a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"
                       class=" rounded-md px-3 bg-red-700 text-white opacity-75 hover:opacity-100 cursor-pointer outline-none">
            </form>
        </div>
    </div>
</header>
</body>
</html>