<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="flex justify-between px-64 py-10 h-auto">
    <div class="flex flex-col pr-10 w-3/4">
        <div class="font-bold text-xl p-2">
            <a href="#" class="outline-none opacity-50 hover:opacity-100">Global Feed</a>
        </div>
        <div class="border-t-2 mb-5 border-gray-500"></div>
        <div class="flex flex-col mb-5" th:each="list : ${list}">
            <div class="flex justify-between items-center">
                <div class="flex">
                    <a th:href="@{/author(id=${list.authorId})}" class="outline-none"><img
                            th:src="@{/images/happy.png}"></a>
                    <div class="flex flex-col p-2">
                        <a th:href="@{/author(id=${list.authorId})}"
                           class="font-bold text-xl outline-none hover:underline"
                           th:text="${list.authorName}"></a>
                        <p class="text-gray-500 text-sm" th:text="${list.publishedAt}"></p>
                    </div>
                </div>
                <!--                <a href="#"-->
                <!--                   class="flex border-black border-2 py-2 px-2 rounded mr-1 mb-2 hover:bg-black hover:text-white">-->
                <!--                    <img th:src="@{/images/like.png}" class="pr-1 py-1">-->
                <!--                    <p class="font-bold">1</p>-->
                <!--                </a>-->
            </div>
            <div class="font-bold">
                <a th:href="@{/show-blog(id=${list.id})}" class="outline-none ">
                    <p class="text-3xl pt-2" th:text="${list.blogTitle}"></p>
                    <p class="text-xl text-gray-500" th:text="${list.blogDescription}"></p>
                </a>
                <div class="flex justify-between items-center mt-10">
                    <a th:href="@{/show-blog(id=${list.id})}" class="outline-none text-gray-500 text-sm">Read
                        more...</a>
                    <div class="flex">
                        <a th:href="@{/filter/tag/{tag}(tag=${tag.name})}"
                           class="outline-none border-black border-2 text-sm py-1 px-4 rounded-full mr-2 opacity-50 hover:opacity-100"
                           th:each="tag : ${list.getTagSet()}" th:text="${'#'+tag.name}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center m-10">
            <div th:if="${pageNumber>1}" th:each="index : ${#numbers.sequence(1, pageNumber)}">
                <a th:if="${home==true}" th:href="@{/(page=${index},limit=${limit})}" th:text="${index}"
                   class="inline-block text-gray-900 text-center bg-gray-400 px-4 py-2 m-2 outline-none opacity-75 hover:opacity-100"></a>
                <a th:if="${param.search}" th:href="@{/(search=${param.search},page=${index},limit=${limit})}" th:text="${index}"
                   class="inline-block text-gray-900 text-center bg-gray-400 px-4 py-2 m-2 outline-none opacity-75 hover:opacity-100"></a>
                <a th:if="${param.sortField}" th:href="@{/(sortField=${param.sortField},order=${param.order},page=${index},limit=${limit})}" th:text="${index}"
                   class="inline-block text-gray-900 text-center bg-gray-400 px-4 py-2 m-2 outline-none opacity-75 hover:opacity-100"></a>
                <a th:if="${param.authorId}" th:href="@{/(authorId=${param.authorId},tagId=${param.tagId},page=${index},limit=${limit})}" th:text="${index}"
                   class="inline-block text-gray-900 text-center bg-gray-400 px-4 py-2 m-2 outline-none opacity-75 hover:opacity-100"></a>
            </div>
        </div>
    </div>
    <div class="w-1/4">
        <div class="p-5 bg-gray-300 rounded-lg">
            <div class="font-bold pb-2 text-xl text-gray-800">
                <p>Tags</p>
            </div>
            <div class="flex flex-wrap text-white font-bold">
                <a th:href="@{/filter/tag/{tag}(tag=${tag.name})}" th:each="tag : ${tags}" th:text="${'#'+tag.name}"
                   class="bg-black opacity-25 hover:opacity-50 py-1 px-4 rounded-full mr-1 mb-2"></a>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>