<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mx-60 mb-20 py-20">
    <div class="flex justify-center mt-40">
        <p class="font-bold text-xl" th:text="${message}"></p>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>