<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mx-40 mb-20">
    <form class="flex flex-col px-64 py-10 text-gray-700" th:object="${blog}" th:action="@{/blog/publish/{id}(id=*{id})}" method="post">
        <input type="text" placeholder="Blog Title" th:field="*{blogTitle}"
               class="border-2 border-gray-400 py-2 px-10 text-xl rounded-md focus:shadow-outline focus:bg-blue-100" required>
        <input type="text" placeholder="Whats this Blog About?" th:field="*{blogDescription}"
               class="border-2 border-gray-400 py-2 px-10 mt-5 text-base rounded-md focus:shadow-outline focus:bg-blue-100" required>
        <textarea type="text" placeholder="Write Your Blog" rows="8" th:field="*{blogContent}"
                  class="border-2 border-gray-400 py-2 px-10 text-base rounded-md mt-5 focus:shadow-outline focus:bg-blue-100" required></textarea>
        <input type="text" placeholder="Enter Tags" th:field="${tag.name}"
               class="border-2 border-gray-400 py-2 px-10 text-base rounded-md mt-5 focus:shadow-outline focus:bg-blue-100" required>
        <div class="flex justify-end items-center mt-5">
            <div class="flex py-10">
                <div class="flex items-center" th:if="*{saveDraft == true or id == 0}">
                    <input type="checkbox" value="Save Blog" class="rounded-md outline-none mr-2" th:field="*{saveDraft}">
                    <p class="mr-5 text-xl font-bold">Save Blog</p>
                </div>
                <input type="submit" value="Publish Blog"
                       class="rounded-md px-6 py-2 bg-black text-white opacity-75 hover:opacity-100 text-xl cursor-pointer outline-none">
            </div>
        </div>
    </form>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>