<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="flex items-center flex-col mb-20">
    <div class="flex flex-col mt-40">
        <label class="text-base mb-10">
            User Name : <input class="ml-10 text-xl" placeholder="User" th:field="${form.userName}" disabled>
        </label>

        <form th:action="@{/settings/update-email}" th:object="${form}" method="post">
            <label>
                Email : <input type="text" class="text-base mx-20 w-64" placeholder="Email" th:field="*{email}">
            </label>
            <input type="submit" value="Update Email"
                   class="bg-green-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
        <p class="pt-1 text-red-700 mb-10" th:text="${emailError}"></p>
        <form th:action="@{/settings/update-password}" class="flex flex-col justify-start" th:object="${form}"
              method="post">
            <label class="mb-5">
                New Password : <input type="password" placeholder="New Password" class="text-xl mx-12"
                                      th:field="*{password}">
            </label>
            <label class="mb-5">
                Conform Password : <input type="password" placeholder="Conform Password" class="text-xl mx-5"
                                          th:field="*{conformPassword}">
            </label>
            <div class="flex flex-row-reverse">
                <input type="submit" value="Update Password"
                       class="bg-green-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
            </div>
        </form>
        <p class="pt-1 text-red-700" th:text="${passwordError}"></p>

    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" class="flex flex-col mt-20">
        <form th:action="@{/settings/admin/user}" class="flex items-center mt-6">
            <div>
                <label>Users : </label>
                <select class="outline-none" th:field="${user.id}">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.userName}"></option>
                </select>
            </div>
            <input type="submit" value="User Settings"
                   class="mx-3 bg-red-700 rounded-md py-1 px-3 text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
        </form>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>