<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mb-20">
    <div class="bg-black w-full">
        <div class="px-64 py-10 text-white">
            <p class="font-bold text-4xl" th:text="${blog.blogTitle}"></p>
            <div class="flex justify-between">
                <div class="flex">
                    <a th:href="@{/author(id=${blog.authorId})}" class="outline-none"><img
                            th:src="@{/images/happy-white.png}"></a>
                    <div class="flex flex-col p-2">
                        <a th:href="@{/author(id=${blog.authorId})}"
                           class="font-bold text-xl outline-none hover:underline"
                           th:text="${blog.authorName}"></a>
                        <p class="text-gray-500 text-sm" th:text="${blog.publishedAt}"></p>
                    </div>
                </div>
                <div class="flex"
                     th:if="${#authentication.name == blog.authorName or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/blog/update-blog(id=${blog.id})}" class="pr-5 outline-none"><img
                            th:src="@{/images/edit.png}"></a>
                    <a th:href="@{/blog/delete-blog(id=${blog.id})}" class="outline-none"><img
                            th:src="@{/images/del.png}"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="px-64 py-10">
        <p class="text-2xl" th:text="${blog.blogContent}"></p>
        <div class="border-t-2 mt-20 border-gray-500"></div>
    </div>
    <div class="px-64">
        <form class="flex flex-col px-64 text-gray-700" th:action="@{/comment/add-comment/{id}(id=${blog.id})}"
              method="get">
            <textarea type="text" placeholder="Write a Comment..." rows="3" required
                      class="border-2 border-gray-400 py-2 px-10 text-base rounded-t-lg mt-5 focus:bg-blue-100"
                      th:field="${commentOb.comment}"></textarea>
            <div class="flex justify-between bg-gray-400 rounded-b-lg">
                <input type="submit" value="Post Comment"
                       class=" rounded-md py-1 px-3 bg-black text-white opacity-75 hover:opacity-100 text-base cursor-pointer outline-none m-2">
            </div>
        </form>
    </div>
    <div class="px-64">
        <div class="flex flex-col px-64 text-gray-700" th:each="comment : ${commentList}">
            <p class="border-2 border-gray-400 py-5 px-10 text-base rounded-t-lg mt-5 focus:bg-blue-100"
               th:text="${comment.comment}"></p>
            <div class="flex justify-between bg-gray-400 rounded-b-lg">
                <div class="flex items-center">
                    <a th:href="@{/author(id=${comment.userId})}" class="flex outline-none items-center"><img
                            th:src="@{/images/happy1.png}">
                        <p class="font-bold text-xl outline-none pr-3 hover:underline"
                           th:text="${comment.userName}"></p></a>
                    <p class="text-gray-500 text-sm pt-1" th:text="${comment.createdAt}"></p>
                </div>
                <a th:if="${#authentication.name == comment.userName or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                   th:href="@{/comment/delete-comment/{id}/{commentId}(id=${blog.id},commentId=${comment.id})}">
                    <input type="image" th:src="@{/images/delete.png}"
                           class="opacity-50 hover:opacity-100 outline-none p-2"></a>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>