<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mx-60 mb-20 py-20">
    <form class="flex flex-col items-center text-gray-700 mt-32" th:action="@{/sign-in}" method="post">
        <div class="flex flex-col w-1/4 mb-4">
            <input type="text" placeholder="User Name" name="username"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md focus:border-black">
        </div>
        <div class="flex flex-col w-1/4 mb-4">
            <input type="password" placeholder="Password" name="password"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md mt-5 focus:border-black">
        </div>
        <div th:if="${param.error}" class="text-red-600 ">
            Invalid username and password
        </div>
        <div th:if="${param.logout}" class="text-red-600 ">
            Successfully logged out
        </div>
        <div class="mt-2">
            <a th:href="@{/forgot-password}" class="text-blue-600 outline-none">Forgot Password?</a>
        </div>
        <div class="mt-4 flex items-center">
            <input type="checkbox" name="remember-me" class="mr-3">Remember Me
        </div>
        <div class="flex justify-between mt-5">
            <input type="submit" value="Sign in"
                   class=" rounded-md py-3 px-6 bg-black text-white opacity-75 hover:opacity-100 text-xl cursor-pointer outline-none">
        </div>
    </form>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>