<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="icon" th:href="@{/images/blogger-head.png}" type="image/png" sizes="32*32">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:insert="header :: header"></div>

<section class="mx-60 mb-20 py-20">
    <form class="flex flex-col items-center text-gray-700" th:object="${formInput}" th:action="@{/add-user}"
          method="post">
        <div class="flex flex-col w-1/4 mb-4">
            <input type="text" placeholder="User Name" th:field="*{userName}"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md focus:border-black">
            <p class="pt-1 text-red-700" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
        </div>
        <div class="flex flex-col w-1/4 mb-4">
            <input type="text" placeholder="E mail" th:field="*{email}"
                   class="border-b-2 border-gray-400 py-2 px-10 mt-5 text-base rounded-md focus:border-black">
            <p class="pt-1 text-red-700" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="flex flex-col w-1/4 mb-4">
            <input type="password" placeholder="Password" th:field="*{password}"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md mt-5 focus:border-black">
            <p class="pt-1 text-red-700" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="flex flex-col w-1/4 mb-4">
            <input type="password" placeholder="Conform Password" th:field="*{conformPassword}"
                   class="border-b-2 border-gray-400 py-2 px-10 text-base rounded-md mt-5 focus:border-black">
            <p class="pt-1 text-red-700" th:if="${#fields.hasErrors('conformPassword')}" th:errors="*{conformPassword}"></p>
        </div>
        <div>
            <p class="text-red-700" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></p>
        </div>
        <div class="mt-2">
            <a th:href="@{/resend-link}" class="text-blue-600 outline-none">Resend Verification Link?</a>
        </div>
        <div class="flex justify-between mt-10">
            <input type="submit" value="Sign up"
                   class=" rounded-md py-3 px-6 bg-black text-white opacity-75 hover:opacity-100 text-xl cursor-pointer outline-none">
        </div>
    </form>
</section>

<div th:insert="footer :: footer"></div>

</body>
</html>